/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Electrolize&family=Quicksand&display=swap');

/* Root Variables */
:root {
    --primary-font: 'Electrolize', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;
    --tertiary-font: 'Anton', sans-serif;
    --primary-color: #4f48ec;
    --secondary-color: #c8c7dd;
    --tertiary-color: #100e34;
    --highlight: #ffffff;
}

/* Global styles */
html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    color: var(--highlight);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

    /* Navbar */
.navbar {
    background-color: var(--highlight);
}

.navbar-brand img {
    height: 70px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: var(--primary-font);
    color: var(--primary-color)
}

.navbar-light .navbar-nav .nav-link:hover {
    font-family: var(--primary-font);
    color: var(--tertiary-color)
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

    /* Footer */
footer {
    background-color: var(--highlight);
    font-family: var(--primary-font);
    color: var(--primary-color);
    min-height: 70px;
}

.social-links li a i {
    color: var(--primary-color);
    font-size: 1.3rem;
    transition: all 0.75s ease-in-out;
}

.social-links li a i:hover {
    color: var(--tertiary-color);
    transform: rotateX(360deg);
}

/* Main section */
.main-section {
    margin: 96px auto 0;
    flex: 1
}

.welcome {
    font-size: 4rem;
    font-family: var(--tertiary-font);
    letter-spacing: 1rem;
    margin: 1rem auto;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--secondary-color);
    /* DEVNOTE: Remove/Reuse somewhere else, consider section on font color gradient below two lines... */
    /*background: linear-gradient(180deg, rgba(79,72,236,1) 0%, rgba(16,14,52,1) 70%);*/
    /*-webkit-background-clip: text;*/
}

.welcome-text {
    font-family: var(--secondary-font);
}

/* Code block */
.corner-rounded {
    border-radius: 1rem;
}

/* Media Queries */
@media (min-width: 320px) {
    /* Footer whitespace compression */
    #developer p, #educational-note p, #socials ul {
    margin: 0.5rem auto;
    }
}

@media (min-width: 768px){
    /* Footer whitespace expansion */
    #developer p, #educational-note p, #socials ul {
    margin: 1.4rem auto 0;
    }
}
