/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Quicksand&display=swap');

/* Root Variables */
:root {
    --primary-font: 'Electrolize', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;
    --primary-color: #4f48ec;
    --secondary-color: #c8c7dd;
    --tertiary-color: #100e34;
    --highlight: #ffffff;
}

/* Global styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    color: var(--highlight);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

    /* Navbar */
.navbar {
    background-color: var(--highlight);
}

.navbar-brand img {
    height: 70px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: var(--primary-font);
    color: var(--primary-color)
}

.navbar-light .navbar-nav .nav-link:hover {
    font-family: var(--primary-font);
    color: var(--tertiary-color)
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

    /* Footer */


/* Main section */
.main-section {
    margin: 96px auto 0;
    flex: 1
}

.welcome {
    font-family: var(--primary-font);
}

.welcome-text {
    font-family: var(--secondary-font);
}
